@font-face {
    font-family: "Ketchum";
    src: url('fonts/Ketchum.otf');
  }

/*UNIVERSAL*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: linear-gradient(rgb(168, 67, 0, 0.5) 0%, rgb(52, 152, 219, 0.5) 10%, rgb(255, 88, 0, 0.5) 20%, rgb(241, 196, 15, 0.5) 30%, rgb(155, 89, 182, 0.5) 40%, rgb(30, 30, 30, 0.5) 50%, rgb(30, 204, 113, 0.5) 60%, rgb(0, 243, 255, 0.5) 70%, rgb(255, 0, 241, 0.5) 80%, rgb(255, 255, 255, 0.5) 90%, rgb(168, 67, 0, 0.5) 100%);
    border-left: 2px solid black;
}
::-webkit-scrollbar-thumb {
    background: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
}
body{
    background: linear-gradient(90deg, rgb(168, 67, 0, 0.5) 0%, rgb(52, 152, 219, 0.5) 10%, rgb(255, 88, 0, 0.5) 20%, rgb(241, 196, 15, 0.5) 30%, rgb(155, 89, 182, 0.5) 40%, rgb(30, 30, 30, 0.5) 50%, rgb(30, 204, 113, 0.5) 60%, rgb(0, 243, 255, 0.5) 70%, rgb(255, 0, 241, 0.5) 80%, rgb(255, 255, 255, 0.5) 90%, rgb(168, 67, 0, 0.5) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100%;
    overflow-x: -moz-hidden-unscrollable;
}
nav{
    color: white;
}
.navlogo{
    width: 75px;
    height: 75px;
    float: inline-start;
    margin-top: -12.5px;
}
.navbody{
    background-color: #23272A;
    height: 75px;
}
.titlenlogo{
    margin-left: 25px;
    padding-top: 12.5px;
}
.title{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20% 20%;
}
.dropbtn{
    background: linear-gradient(315deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 30, 30) 50%, rgb(30, 204, 113) 60%, rgb(0, 243, 255) 70%, rgb(255, 0, 241) 80%, rgb(220, 220, 220) 90%, rgb(168, 67, 0) 100%);
    color: white;
    width: 100px;
    font-size: 25px;
    border: 5px solid white;
    border-radius: 50px 0 0 50px;
    transform: translateX(-60%);
}
.dropdown{
    width: 30px;
    float: right;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #191b1d;
    border: 4px solid white;
    z-index: 1;
    right: 0;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.sitebutton:hover{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    text-decoration: none;
    width: 280px;
    overflow: hidden;
    transition: width 0.5s linear;
    transition-timing-function: ease-in-out;
}
.sitebutton{
    background-color: #23272A;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 44px;
    padding-left: 6px;
    border-radius: 50px;
    width: 48.5px;
    overflow: hidden;
    transition: width 0.5s linear;
    transition-timing-function: ease-in-out;
    float: right;
    margin: 5px 2.5px 5px 2.5px;
}
.discicon{
    width: 30px;
    height: 30px;
}

/*INDEX*/
.eeveelutionsbutton{
    background-image: url(Imgs/eeveelutionbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.movesetsbutton{
    background-image: url(Imgs/Movesets_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.membersbutton{
    background-image: url(Imgs/Members_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navdiv{
    width: 22.5%;
    height: 500px;
    margin: 20px 3% 0 3%;
    background-color: #23272A;
    border-radius: 50px;
    text-align: center;
    transition-duration: 0.5s;
    display: inline-table;
}
.navdiv:hover{
    transform: scale(110%);
    transition-duration: 0.5s;
}
.nounderline{
    text-decoration: none;
}
.pagetitle{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headdiv{
    height: 150px;
    width: 75%;
    margin: 25px 12.5% 0 12.5%;
    background-color: #23272A;
    border-radius: 50px;
    text-align: center;
    height: fit-content;
    padding: 10px 0 10px 0;
}
.mainimage{
    width: 150px;
}
.hiddentext{
    background-color: rgb(0,0,0,0.33);
    width: 100%;
    overflow-y: hidden;
    height: 40px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: height;
    transition-delay: 0.1s;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.navdiv:hover > .hiddentext{
    height: 170px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: height;
    transition-delay: 0.1s;
}

/*EEVEELUTIONS*/
.eeveelutiondiv{
    padding: 10px 20px 10px 20px;
    transition-duration: 0.5s;
}
.eeveelutiondiv:hover{
    transform: scale(110%);
    transition-duration: 0.5s;
}
.eeveelutionname{
    color: white;
    font-family: "Ketchum";
}
.eeveelutionpicture{
    min-width: 250px;
    width: 25%;
    float: inline-start;
    margin: 0 auto 0 auto;
}
.eeveelutiontext{
    color: white;
    font-family: "Ketchum";
}
.eeveelutionnamelist{
    text-align: center;
    font-size: 17.5px;
}
.formImage{
    float: inline-start;
    width: 100px;
}
.eevee{
    background-color: rgb(168, 67, 0);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.vaporeon{
    background-color: rgb(52, 152, 219);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.jolteon{
    background-color: rgb(241, 196, 15);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.flareon{
    background-color: rgb(255, 88, 0);;
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.espeon{
    background-color: rgb(155, 89, 182);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.umbreon{
    background-color: rgb(25, 25, 25);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.leafeon{
    background-color: rgb(30, 204, 113);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.glaceon{
    background-color: rgb(0, 243, 255);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.sylveon{
    background-color: rgb(255, 103, 247);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.insecteon{
    background-color: rgb(145, 233, 110);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.brawleon{
    background-color: rgb(138, 20, 20);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.veneon{
    background-color: rgb(105, 20, 138);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.dusteon{
    background-color: rgb(209, 108, 61);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.breezeon{
    background-color: rgb(220, 220, 220);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.obsideon{
    background-color: rgb(128, 110, 91);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.skulleon{
    background-color: rgb(125, 62, 139);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;  
}
.eterneon{
    background-color: rgb(0, 43, 71);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.glaiveon{
    background-color: rgb(171, 190, 202);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
ul{
    list-style: none;
}
.indent{
    text-indent: 25px;
}

/*MEMBERS*/
.memberlist{
    border: 5px solid gray;
    background-color: rgb(120, 120, 120, 0.5);
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    padding: 50px 10px 30px 10px;
    display: flex;
    flex-flow: column;
}
.membercard{
    width: 90%;
    height: 100%;
    margin: 50px 5% 50px 5%;
    padding: 25px 10px 0px 10px;
    border-radius: 50px;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    transition: all 0.5s ease-in-out;
}
.membercard:hover{
    transform: scale(110%);
}
.memberinfo{
    width: 100%;
    display: flex;
    flex-flow: row;
}
.membername{
    font-size: xx-large;
    margin-bottom: 18.75px;
    margin-top: 18.75px;
}
.memberdesc{
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}
.memberaccounts{
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    font-size: larger;
    width: 100%;
}
.memberaccountimage{
    width: 50px;
}
.memberspecies{
    width: 50%;
    text-align: center;
}
.membertype{
    width: 50%;
    text-align: center;
}
.SpeciesImage{
    width: 25%;
    min-width: 100px;
}
.typeimage{
    width: 50px;
}
.moveset{
    display: flex;
    flex-flow: wrap;
}
.move{
    display: block;
    width: 200px;
    margin: 5px auto 5px auto;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
}
.move:hover{
    transform: scale(110%);
}
.movecategorytext{
    display: block;
    margin: auto;
    width: 125px;
    text-align: center;
}
.movecategory{
    width: 30px;
}
.movetype{
    width: 50px;
}
.normal{
    background-color: rgb(200, 200, 200);
}
.water{
    background-color: rgb(0, 150, 255, 0.9);
}
.grass{
    background-color: rgb(0, 255, 100, 0.9);
}
.dark{
    background-color: rgb(41, 22, 7);
}
.fire{
    background-color: orange;
}
.poison{
    background-color: rgb(155, 32, 155);
}
.fairy{
    background-color: rgb(230, 106, 255);
}
.fighting{
    background-color: darkred;
}
.ghost{
    background-color: purple;
}
.psychic{
    background-color: rgb(255, 104, 192);
}
.steel{
    background-color: rgb(85, 122, 148);
}
.electric{
    background-color: rgb(255, 221, 0);
}
.ice{
    background-color: aqua;
}
.Bleedy{
    background: linear-gradient(rgb(30, 30, 30) 100px, rgb(87, 0, 0) 105px);
}
.Bleedy .memberdesc{
    border-top: 5px solid rgb(128, 0, 0);
    border-bottom: 5px solid rgb(128, 0, 0);
}
.Bleedy .memberaccounts{
    border-top: 5px solid rgb(128, 0, 0);
    border-bottom: 5px solid rgb(128, 0, 0);
    padding: 10px;
    font-size: large;
}
.Leaf{
    background: linear-gradient(rgb(12, 143, 0) 100px, rgb(119, 207, 237) 105px);
}
.Leaf .memberdesc{
    border-top: 5px solid rgb(143, 232, 254);
    border-bottom: 5px solid rgb(143, 232, 254);
}
.Leaf .memberaccounts{
    border-top: 5px solid rgb(143, 232, 254);
    border-bottom: 5px solid rgb(143, 232, 254);
    padding: 10px;
    font-size: large;
}
.doesnotdoit{
    background: linear-gradient(rgb(102, 207, 195) 100px, rgb(197, 197, 197) 105px);
}
.doesnotdoit .memberdesc{
    border-top: 5px solid rgb(143, 232, 254);
    border-bottom: 5px solid rgb(143, 232, 254);
}
.doesnotdoit .memberaccounts{
    border-top: 5px solid rgb(143, 232, 254);
    border-bottom: 5px solid rgb(143, 232, 254);
    padding: 10px;
    font-size: large;
}
.Volta{
    background: linear-gradient(rgb(199, 199, 199) 100px, rgb(197, 197, 0) 105px);
}
.Volta .memberdesc{
    border-top: 5px solid rgb(250, 255, 108);
    border-bottom: 5px solid rgb(250, 255, 108);
}
.Volta .memberaccounts{
    border-top: 5px solid rgb(250, 255, 108);
    border-bottom: 5px solid rgb(250, 255, 108);
    padding: 10px;
    font-size: large;
}
.Tornai{
    background: linear-gradient(rgb(239, 65, 255) 100px, rgb(197, 197, 0) 105px);
}
.Tornai .memberdesc{
    border-top: 5px solid rgb(250, 255, 108);
    border-bottom: 5px solid rgb(250, 255, 108);
}
.Tornai .memberaccounts{
    border-top: 5px solid rgb(250, 255, 108);
    border-bottom: 5px solid rgb(250, 255, 108);
    padding: 10px;
    font-size: large;
}
.Sam{
    background: linear-gradient(315deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 30, 30) 50%, rgb(30, 204, 113) 60%, rgb(0, 243, 255) 70%, rgb(255, 0, 241) 80%, rgb(220, 220, 220) 90%, rgb(168, 67, 0) 100%);
}
.Sam .memberdesc{
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
}
.Sam .memberaccounts{
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 10px;
    font-size: large;
}
.Nick{
    background: linear-gradient(#bdad00 100px, Green 105px);
}
.Nick .memberdesc{
    border-top: 5px solid rgb(108, 140, 0);
    border-bottom: 5px solid rgb(108, 140, 0);
}
.Nick .memberaccounts{
    border-top: 5px solid rgb(108, 140, 0);
    border-bottom: 5px solid rgb(108, 140, 0);
    padding: 10px;
    font-size: large;
}
.Sky{
    background: linear-gradient(rgb(200, 200, 200) 100px, rgb(168, 67, 0) 105px);
}
.Sky .memberdesc{
    border-top: 5px solid rgb(92, 92, 92);
    border-bottom: 5px solid rgb(92, 92, 92);
}
.Sky .memberaccounts{
    border-top: 5px solid rgb(92, 92, 92);
    border-bottom: 5px solid rgb(92, 92, 92);
    padding: 10px;
    font-size: large;
}
.Zero{
    background: linear-gradient(#bdad00 100px, rgb(0, 215, 190) 105px);
}
.Zero .memberdesc{
    border-top: 5px solid rgb(0, 247, 255);
    border-bottom: 5px solid rgb(0, 247, 255);
}
.Zero .memberaccounts{
    border-top: 5px solid rgb(0, 247, 255);
    border-bottom: 5px solid rgb(0, 247, 255);
    padding: 10px;
    font-size: large;
}
.Espy{
    background: linear-gradient(lightgreen 100px, lightpink 105px);
}
.Espy .memberdesc{
    border-top: 5px solid pink;
    border-bottom: 5px solid pink;
}
.Espy .memberaccounts{
    border-top: 5px solid pink;
    border-bottom: 5px solid pink;
    padding: 10px;
    font-size: large;
}
.Maple{
    background: linear-gradient(lightblue 100px, rgb(255, 53, 255) 105px);
}
.Maple .memberdesc{
    border-top: 5px solid purple;
    border-bottom: 5px solid purple;
}
.Maple .memberaccounts{
    border-top: 5px solid purple;
    border-bottom: 5px solid purple;
    padding: 10px;
    font-size: large;
}
.Ashie{
    background: linear-gradient(lightpink 100px, lightblue 105px);
}
.Ashie .memberdesc{
    border-top: 5px solid cyan;
    border-bottom: 5px solid cyan;
}
.Ashie .memberaccounts{
    border-top: 5px solid cyan;
    border-bottom: 5px solid cyan;
    padding: 10px;
    font-size: large;
}

/*MOVES*/
.movesetexplanation{
    width: 75%;
    height: fit-content;
    margin: 20px 12.5% 0 12.5%;
    background-color: #23272A;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
}
.TypeChart{
    width: 50%;
    margin: auto;
    display: block;
    min-width: 250px;
}
.moves{
    background-color: #23272A;
}
.MoveCategory{
    width: 30px;
}
.movesets{
    border: 5px solid gray;
    background-color: rgb(120, 120, 120, 0.5);
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    width: 75%;
    margin: 20px 12.5% 0 12.5%;
    padding: 10px 20px 40px 20px;
    color: white;
}
.LeafSpirit{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-top: 10px solid green;
    border-bottom: 10px solid green;
    padding: 40px 10px 40px 5px;
    background: linear-gradient(90deg, transparent 1%, lightgreen 1%, lightgreen 99%, transparent 99%);
}
.LeafSpirit .moveInfo{
    text-align: center;
    display: block;
    width: 25%;
    margin: 0 auto 5px auto;
    border: 5px solid green;
    border-radius: 25px;
    background-color: rgb(100, 218, 100);
    padding: 10px 5px 10px 5px;
    min-width: 250px;
}
.LeafSpirit .moveDesc{
    width: 65%;
    display: block;
    margin: 0 auto 5px auto;
    border: 5px solid green;
    border-radius: 25px;
    color: white;
    background-color: rgb(100, 218, 100);
    padding: 10px 5px 10px 5px;
    min-width: 250px;
}
.LeafSpirit .moveName{
    font-size: 50px;
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    width: 90%;
    margin: 25px 0 25px 0;
}
.LightWeight{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    padding: 40px 10px 40px 10px;
    background: linear-gradient(90deg, transparent 1%, rgb(197, 197, 197) 1%, rgb(197, 197, 197) 99%, transparent 99%);
}
.LightWeight .moveInfo{
    text-align: center;
    display: block;
    width: 25%;
    margin: 0 auto 5px auto;
    border: 5px solid gray;
    border-radius: 25px;
    background-color: rgb(170, 170, 170);
    padding: 10px 5px 10px 5px;
    min-width: 250px;
}
.LightWeight .moveDesc{
    width: 65%;
    display: block;
    margin: 0 auto 5px auto;
    border: 5px solid gray;
    border-radius: 25px;
    color: white;
    background-color: rgb(170, 170, 170);
    padding: 10px 5px 10px 10px;
    min-width: 250px;
}
.LightWeight .moveName{
    font-size: 50px;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    width: 90%;
    margin: 25px 0 25px 0;
}
.UltraPump{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-top: 10px solid rgb(60, 60, 255);
    border-bottom: 10px solid rgb(60, 60, 255);
    padding: 40px 10px 40px 10px;
    background: linear-gradient(90deg, transparent 1%, rgb(0, 116, 194) 1%, rgb(0, 116, 194) 99%, transparent 99%);
}
.UltraPump .moveInfo{
    text-align: center;
    display: block;
    width: 25%;
    margin: 0 auto 5px auto;
    border: 5px solid rgb(60, 60, 255);
    border-radius: 25px;
    background-color: rgb(0, 80, 145);
    padding: 10px 5px 10px 5px;
    min-width: 250px;
}
.UltraPump .moveDesc{
    width: 65%;
    display: block;
    margin: 0 auto 5px auto;
    border: 5px solid rgb(60, 60, 255);
    border-radius: 25px;
    color: white;
    background-color: rgb(0, 80, 145);
    padding: 10px 5px 10px 10px;
    min-width: 250px;
}
.UltraPump .moveName{
    font-size: 50px;
    border-top: 3px solid rgb(60, 60, 255);
    border-bottom: 3px solid rgb(60, 60, 255);
    width: 90%;
    margin: 25px 0 25px 0;
}
.TheEnd{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    padding: 40px 10px 40px 5px;
    background: linear-gradient(90deg, transparent 1%, rgb(200, 200, 200) 1%, rgb(200, 200, 200) 99%, transparent 99%);
}
.TheEnd .moveInfo{
    text-align: center;
    display: block;
    width: 25%;
    margin: 0 auto 5px auto;
    border: 5px solid gray;
    border-radius: 25px;
    background-color: rgb(160, 160, 160);
    padding: 10px 5px 10px 5px;
    min-width: 250px;
}
.TheEnd .moveDesc{
    width: 65%;
    display: block;
    margin: 0 auto 5px auto;
    border: 5px solid gray;
    border-radius: 25px;
    color: white;
    background-color: rgb(160, 160, 160);
    padding: 10px 5px 10px 5px;
    min-width: 250px;
}
.TheEnd .moveName{
    font-size: 50px;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    width: 90%;
    margin: 25px 0 25px 0;
}
.moveCategory{
    width: 40px;
}
.moveType{
    width: 75px;
}

.abilities{
    background-color: #23272A;
    border-radius: 50px;
    width: 75%;
    margin: 20px 12.5% 0 12.5%;
    padding: 10px 20px 40px 20px;
    color: white;
    border: 1px solid gray;
}
.MoveName{
    font-size: 35px;
}
.transform{
    margin-top: 50px;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    padding: 40px 15px 40px 15px;
    background: linear-gradient(90deg, transparent 1%, rgb(189, 0, 0) 1%, rgb(35, 0, 189) 99%, transparent 99%);
}
.transformForms{
    display: flex;
    flex-wrap: wrap;
}
.AbilityInfo{
    display: block;
    text-align: center;
    margin: 0 auto 50px auto;
    border: 5px solid gray;
    border-radius: 25%;
    background-color: rgba(170, 170, 170);
    padding: 10px 5px 10px 5px
}
.Form{
    display: block;
    width: 25%;
    min-width: 250px;
    border: 5px solid;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    padding: 10px 5px 10px 5px
}
.FormImage{
    border-top: 5px solid;
    border-bottom: 5px solid;
    height: 150px;
    background-color: gray;
}
.Berserk{
    background-color: rgba(35, 0, 189, 0.75);
    border-color: blue;
}
.Berserk .FormImage{
    border-color: blue;
}
.Ultra{
    background-color: rgb(255, 255, 255, 0.75);
    border-color: darkgray;
}
.Ultra .FormImage{
    border-color: darkgray;
}

/*TESTING*/
