@font-face {
    font-family: "Ketchum";
    src: url('fonts/Ketchum.otf');
  }

/*UNIVERSAL*/
body{
    background: linear-gradient(90deg, rgb(168, 67, 0, 0.5) 0%, rgb(52, 152, 219, 0.5) 10%, rgb(255, 88, 0, 0.5) 20%, rgb(241, 196, 15, 0.5) 30%, rgb(155, 89, 182, 0.5) 40%, rgb(30, 30, 30, 0.5) 50%, rgb(30, 204, 113, 0.5) 60%, rgb(0, 243, 255, 0.5) 70%, rgb(255, 0, 241, 0.5) 80%, rgb(255, 255, 255, 0.5) 90%, rgb(168, 67, 0, 0.5) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
nav{
    color: white;
}
.navlogo{
    width: 75px;
    height: 75px;
    float: inline-start;
    margin-top: -12.5px;
}
.navbody{
    background-color: #23272A;
    height: 75px;
}
.titlenlogo{
    margin-left: 50px;
    padding-top: 12.5px;
}
.title{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20% 20%;
}
.sites{
    float: right;
    margin-top: -55px;
    height: 75px;
    padding-top: 12.5px;
    margin-right: 50px;
}
.sitebutton:hover{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    text-decoration: none;
    width: 280px;
    overflow: hidden;
    transition: width 0.5s linear;
    transition-timing-function: ease-in-out;
}
.sitebutton{
    background-color: #23272A;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 44px;
    padding-left: 6px;
    border-radius: 50px;
    width: 48.5px;
    overflow: hidden;
    transition: width 0.5s linear;
    transition-timing-function: ease-in-out;
    float: left;
}
.discicon{
    width: 30px;
    height: 30px;
}

/*INDEX*/
.eeveelutionsbutton{
    background-image: url(Imgs/eeveelutionbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.movesetsbutton{
    background-image: url(Imgs/Movesets_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.membersbutton{
    background-image: url(Imgs/Members_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navdiv{
    width: 22.5%;
    height: 500px;
    margin: 20px 3% 0 3%;
    background-color: #23272A;
    border-radius: 50px;
    text-align: center;
    transition-duration: 0.5s;
    display: inline-table;
}
.navdiv:hover{
    transform: scale(110%);
    transition-duration: 0.5s;
}
.nounderline{
    text-decoration: none;
}
.pagetitle{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headdiv{
    height: 150px;
    width: 75%;
    margin: 25px 12.5% 0 12.5%;
    background-color: #23272A;
    border-radius: 50px;
    text-align: center;
    height: fit-content;
    padding: 10px 0 10px 0;
}
.mainimage{
    width: 150px;
}
.hiddentext{
    background-color: rgb(0,0,0,0.33);
    width: 100%;
    overflow-y: hidden;
    height: 40px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: height;
    transition-delay: 0.1s;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.navdiv:hover > .hiddentext{
    height: 170px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: height;
    transition-delay: 0.1s;
}

/*ARCHIVES*/
.discordmimic{
    background-color: #23272A;
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    padding: 50px 10px 30px 10px;
}
table{
    color: white;
    width: fit-content;
}
.profilepic{
    width: 70px;
    text-align: center;
    padding-top: 0;
}
.picture{
    margin-top: 30px;
    width: 50px;
}
.profilename{
    font-size: larger;
    font-weight: bold;
}
.profilenametext{
    margin-bottom: -2px;
}
.profiletime{
    font-size: 11px;
    padding-left: 10px;
    color: gray;
}
.profiletimetext{
    margin-bottom: -9px;
}
.message{
    margin-top: -20px;
}
.messagetext{
    margin-top: -22.5px;
}
.reply{
    margin-bottom: -42.5px;
}
.replyline{
    border-top: 2px solid rgb(56, 56, 56);
    border-left: 2px solid rgb(56, 56, 56);
    border-radius: 10px 0 0 0;
    width: 40px;
    height: 20px;
    margin-left: 33px;
    margin-top: 0px;
}
.replypicture{
    width: 25px;
    margin-top: -20px;
}
.replyname{
    color: rgb(180, 180, 180);
    font-weight: bold;
}
.replytext{
    color: darkgray;
    font-size: 12.5px;
}

.explanation{
    background-color: #23272A;
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    padding: 25px 10px 30px 10px;
    color: white;
    text-align: center;
}
.joinbutton{
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    background-size: 50% 50%;
    text-decoration: none;
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
    padding: 0 5px 0 5px;
}
.joinbutton:hover{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    background-size: 50% 50%;
    text-decoration: none;
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
    padding: 0 5px 0 5px;
}
.pencil{
    float: inline-start;
    width: 30px;
    margin-left: 25px;
}
.changetext{
    color: rgb(177, 177, 177);
    font-size: 17.5px;
    margin-left: 10px;
}
.changetime{
    transform: translateX(34.5%) translateY(-215%);
}

/*EEVEELUTIONS*/
.eeveelutiondiv{
    padding: 10px 20px 10px 20px;
    transition-duration: 0.5s;
}
.eeveelutiondiv:hover{
    transform: scale(110%);
    transition-duration: 0.5s;
}
.eeveelutionname{
    color: white;
    font-family: "Ketchum";
}
.eeveelutionpicture{
    width: 300px;
    float: inline-start;
    margin-right: 10px;
}
.eeveelutiontext{
    color: white;
    font-family: "Ketchum";
}
.eeveelutionnamelist{
    text-align: center;
    font-size: 17.5px;
}
.formImage{
    float: inline-start;
    width: 100px;
}
.eevee{
    background-color: rgb(168, 67, 0);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.vaporeon{
    background-color: rgb(52, 152, 219);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.jolteon{
    background-color: rgb(241, 196, 15);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.flareon{
    background-color: rgb(255, 88, 0);;
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.espeon{
    background-color: rgb(155, 89, 182);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.umbreon{
    background-color: rgb(25, 25, 25);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.leafeon{
    background-color: rgb(30, 204, 113);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.glaceon{
    background-color: rgb(0, 243, 255);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.sylveon{
    background-color: rgb(255, 103, 247);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.insecteon{
    background-color: rgb(145, 233, 110);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.brawleon{
    background-color: rgb(138, 20, 20);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.veneon{
    background-color: rgb(105, 20, 138);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.dusteon{
    background-color: rgb(209, 108, 61);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.breezeon{
    background-color: rgb(220, 220, 220);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.obsideon{
    background-color: rgb(128, 110, 91);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.skulleon{
    background-color: rgb(125, 62, 139);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;  
}
.eterneon{
    background-color: rgb(0, 43, 71);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.glaiveon{
    background-color: rgb(171, 190, 202);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
ul{
    list-style: none;
}
.indent{
    text-indent: 25px;
}

/*MEMBERS*/
.memberlist{
    border: 5px solid gray;
    background-color: rgb(120, 120, 120, 0.5);
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    padding: 50px 10px 30px 10px;
}
.membercard{
    width: 100%;
    height: fit-content;
    margin: 25px 0 25px 0;
    border-radius: 50px;
    padding: 50px 10px 30px 10px;
    transition-duration: 0.5s;
}
.membercard:hover{
    transform: scale(105%);
    transition-duration: 0.5s;
}
.membercard table{
    width: 100%;
}
.SpeciesImage{
    width: 150px;
}
.membername{
    font-size: 35px;
}
.memberusername{
    color: gray;
    font-size: larger;
    text-align: right;
}
.memberdiscord{
    width: 25px;
}
.memberdescription{
    font-size: 17.5px;
}
.memberspecies{
    font-size: x-large;
}
.membertype{
    font-size: x-large;
}
.memberlinks{
    font-size: x-large;
}
.memberlinkicon{
    width: 50px;
}
.TypeImage{
    width: 40px;
}
.leaf{
    background: linear-gradient(90deg, rgb(154, 221, 86) 65%, rgb(100, 147, 200) 85%);
}
.leafname{
    background: linear-gradient(165deg, green 25%, lightblue 75%);
    background-size: 12.5% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ashby{
    background: radial-gradient(circle at -10% 50%, rgb(25, 25, 25) 10%, darkred 25%, rgb(25, 25, 25) 40%) ;
}
.ashbyname{
    background: radial-gradient(circle at -25% 50%, lightgray 10%, red 25%, lightgray 40%);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tornai{
    background: linear-gradient(315deg, #bdad00 15%, pink 25%, pink 45%, #bdad00 55%);
}
.tornainame{
    background: radial-gradient(circle at -10% 50%, yellow 0%, white 10%, yellow 20%);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.volta{
    background: linear-gradient(90deg, #bdad00 5%, rgb(220, 220, 220) 15%, #bdad00 25%, #bdad00 70%, rgb(220, 220, 220) 80%, #bdad00 90%);
}
.voltaname{
    background: radial-gradient(circle at 0% 50%, yellow 0%, white 10%, yellow 20%);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sam{
    background: linear-gradient(315deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 30, 30) 50%, rgb(30, 204, 113) 60%, rgb(0, 243, 255) 70%, rgb(255, 0, 241) 80%, rgb(220, 220, 220) 90%, rgb(168, 67, 0) 100%);
}
.nick{
    background: radial-gradient(circle at -10% 50%, darkgreen 10%, #bdad00 20%, #bdad00 30%, darkgreen 40%) ;
}
.nickname{
    background: radial-gradient(circle at -15% 50%, green 10%, yellow 25%, green 40%);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skye{
    background: radial-gradient(circle, rgb(168, 67, 0) 30%, rgb(220, 220, 220) 40%, rgb(220, 220, 220) 55%, rgb(168, 67, 0) 65%);
}
.zero{
    background: linear-gradient(167.5deg, rgb(195, 240, 255) 40%, #bdad00 60%);
}
.spook{
    background: radial-gradient(circle, darkgray 30%, rgb(200, 200, 200) 40%, rgb(200, 200, 200) 55%, darkgray 65%);
}
.espy{
    background: linear-gradient(90deg, #c9c191 10%, lightgreen 15%, #c9c191 20%, lightpink 25%, #c9c191 30%);
}
.mrvapo{
    background:radial-gradient(at 0% 50%, blue, purple, blue, purple, blue, purple);
}
.mrvaponame{
    color: lightblue;
}
.dznot{
    background: conic-gradient(pink 15%, rgb(215, 215, 215) 20%, rgb(215, 215, 215) 80%, pink 85%);
}
.ashie{
    background: linear-gradient(90deg, pink 25%, lightblue 75%);
}
.sylpan{
    background: rgb(220, 220, 220);
    background: conic-gradient(pink 12.5%, rgb(220, 220, 220) 12.5%, rgb(220, 220, 220) 87.5%, pink 87.5%);
    background-size: 12.5% 25%;
    background-repeat: repeat-x;
}
.line{
    background-color: gray;
    border-radius: 50px;
    width: 100%;
}

/*MOVESETS*/
.movesetexplanation{
    width: 75%;
    height: fit-content;
    margin: 20px 12.5% 0 12.5%;
    background-color: #23272A;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
}
.TypeChart{
    width: 50%;
    margin: auto;
    display: block;
    min-width: 300px;
}
.MoveCategory{
    width: 30px;
}
.movesets{
    border: 5px solid gray;
    background-color: rgb(120, 120, 120, 0.5);
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    padding: 50px 10px 30px 10px;
}
.MoveTypeImage{
    width: 50px;
}
.MovePP{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.MoveType{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.move{
    width: 40%;
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
    display: inline-table;
    margin: 10px auto 10px auto;
    transition-duration: 0.25s;
}
.move:hover{
    transform: scale(110%);
    transition-duration: 0.25s;
}
.move td{
    width: 20%;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border: 1px solid gray;
}
.water{
    background-color: rgb(0, 150, 255, 0.9);
}
.water td{
    border: 1px solid rgb(0, 102, 255);
}
.grass{
    background-color: rgb(0, 255, 100, 0.9);
}
.grass td{
    border: 1px solid lightgreen;
}
.dark{
    background-color: rgb(41, 22, 7);
}
.dark td{
    background-color: rgb(83, 46, 17);
}
.fire{
    background-color: orange;
}
.fire td{
    border: 1px solid yellow;
}
.poison{
    background-color: rgb(155, 32, 155);
}
.poison td{
    border: 1px solid purple;
}
.fairy{
    background-color: rgb(230, 106, 255);
}
.fairy td{
    border: 1px solid magenta;
}
.fighting{
    background-color: darkred;
}
.fighting td{
    border: 1px solid red;
}
.ghost{
    background-color: purple;
}
.ghost td{
    border: 1px solid rgb(85, 0, 85);
}
.psychic{
    background-color: rgb(255, 104, 192);
}
.psychic td{
    border: 1px solid rgb(173, 0, 115);
}
.steel{
    background-color: rgb(85, 122, 148);
}
.steel td{
    border: 1px solid rgb(31, 50, 136);
}
.MoveName{
    font-size: 35px;
}
.MovePP{
    font-size: xx-large;
}
.leafmoveset{
    text-align: center;
    background: linear-gradient(90deg, rgb(100, 147, 200) 15%, rgb(154, 221, 86) 50%, rgb(100, 147, 200) 85%);
    border: 5px solid blue;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.spookmoveset{
    text-align: center;
    background: linear-gradient(90deg, brown 15%, rgb(200, 200, 200) 50%, brown 85%);
    border: 5px solid rgb(165, 87, 42);
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nickmoveset{
    text-align: center;
    background: linear-gradient(90deg, Green 15%, #bdad00 50%, Green 85%);
    border: 5px solid darkgreen;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tornmoveset{
    text-align: center;
    background: linear-gradient(90deg, pink 15%, rgb(200, 200, 200) 50%, #bdad00 85%);
    border: 5px solid Yellow;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.herbalmoveset{
    text-align: center;
    background: linear-gradient(90deg, lightpink 15%, #c9c191 50%, lightgreen 85%);
    border: 5px solid #bdad00;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ashbymoveset{
    text-align: center;
    background: linear-gradient(90deg, black 15%, purple 50%, darkred 85%);
    border: 5px solid red;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sammoveset{
    text-align: center;
    background: linear-gradient(315deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 30, 30) 50%, rgb(30, 204, 113) 60%, rgb(0, 243, 255) 70%, rgb(255, 0, 241) 80%, rgb(220, 220, 220) 90%, rgb(168, 67, 0) 100%);
    border: 5px solid white;
    padding: 10px 0px 10px 0px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}