@font-face {
    font-family: "Ketchum";
    src: url('fonts/Ketchum.otf');
  }
/*UNIVERSAL*/
body{
    background: linear-gradient(90deg, rgb(168, 67, 0, 0.5) 0%, rgb(52, 152, 219, 0.5) 10%, rgb(255, 88, 0, 0.5) 20%, rgb(241, 196, 15, 0.5) 30%, rgb(155, 89, 182, 0.5) 40%, rgb(30, 30, 30, 0.5) 50%, rgb(30, 204, 113, 0.5) 60%, rgb(0, 243, 255, 0.5) 70%, rgb(255, 0, 241, 0.5) 80%, rgb(255, 255, 255, 0.5) 90%, rgb(168, 67, 0, 0.5) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    color: white;
}
.navlogo{
    width: 75px;
    height: 75px;
    float: inline-start;
    margin-top: -12.5px;
}
.navbody{
    background-color: #23272A;
    height: 75px;
}
.titlenlogo{
    margin-left: 50px;
    padding-top: 12.5px;
}
.title{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20% 20%;
}
.sites{
    float: right;
    margin-top: -55px;
    height: 75px;
    padding-top: 12.5px;
    margin-right: 50px;
}
.sitebutton:hover{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    text-decoration: none;
    width: 280px;
    overflow: hidden;
    transition: width 0.5s linear;
    transition-timing-function: ease-in-out;
}
.sitebutton{
    background-color: #23272A;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 44px;
    padding-left: 6px;
    border-radius: 50px;
    width: 48.5px;
    overflow: hidden;
    transition: width 0.5s linear;
    transition-timing-function: ease-in-out;
    float: left;
}
.discicon{
    width: 30px;
    height: 30px;
}

/*INDEX*/

/*ARCHIVES*/
.discordmimic{
    background-color: #23272A;
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    padding: 50px 10px 30px 10px;
}
table{
    color: white;
    width: fit-content;
}
.profilepic{
    width: 70px;
    text-align: center;
    padding-top: 0;
}
.picture{
    margin-top: 30px;
    width: 50px;
}
.profilename{
    font-size: larger;
    font-weight: bold;
}
.profilenametext{
    margin-bottom: -2px;
}
.profiletime{
    font-size: 11px;
    padding-left: 10px;
    color: gray;
}
.profiletimetext{
    margin-bottom: -9px;
}
.message{
    margin-top: -20px;
}
.messagetext{
    margin-top: -22.5px;
}
.reply{
    margin-bottom: -42.5px;
}
.replyline{
    border-top: 2px solid rgb(56, 56, 56);
    border-left: 2px solid rgb(56, 56, 56);
    border-radius: 10px 0 0 0;
    width: 40px;
    height: 20px;
    margin-left: 33px;
    margin-top: 0px;
}
.replypicture{
    width: 25px;
    margin-top: -20px;
}
.replyname{
    color: rgb(180, 180, 180);
    font-weight: bold;
}
.replytext{
    color: darkgray;
    font-size: 12.5px;
}

.explanation{
    background-color: #23272A;
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    padding: 25px 10px 30px 10px;
    color: white;
    text-align: center;
}
.joinbutton{
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    background-size: 50% 50%;
    text-decoration: none;
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
    padding: 0 5px 0 5px;
}
.joinbutton:hover{
    background: linear-gradient(90deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 204, 113) 50%, rgb(0, 243, 255) 60%, rgb(255, 0, 241) 70%, rgb(255, 255, 255) 80%, rgb(168, 67, 0) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    background-size: 50% 50%;
    text-decoration: none;
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
    padding: 0 5px 0 5px;
}
.pencil{
    float: inline-start;
    width: 30px;
    margin-left: 25px;
}
.changetext{
    color: rgb(177, 177, 177);
    font-size: 17.5px;
    margin-left: 10px;
}
.changetime{
    transform: translateX(34.5%) translateY(-215%);
}

/*EEVEELUTIONS*/
.eeveelutiondiv{
    padding: 10px 20px 10px 20px;
}
.eeveelutionname{
    color: white;
    font-family: "Ketchum";
}
.eeveelutionpicture{
    width: 300px;
    float: inline-start;
    margin-right: 10px;
}
.eeveelutiontext{
    color: white;
    font-family: "Ketchum";
}
.eeveelutionnamelist{
    text-align: center;
    font-size: 17.5px;
}
.eevee{
    background-color: rgb(168, 67, 0);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.vaporeon{
    background-color: rgb(52, 152, 219);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.jolteon{
    background-color: rgb(241, 196, 15);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.flareon{
    background-color: rgb(255, 88, 0);;
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.espeon{
    background-color: rgb(155, 89, 182);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.umbreon{
    background-color: rgb(25, 25, 25);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.leafeon{
    background-color: rgb(30, 204, 113);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.glaceon{
    background-color: rgb(0, 243, 255);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
.sylveon{
    background-color: rgb(255, 103, 247);
    border-radius: 50px;
    width: 75%;
    margin: 50px 12.5% 0 12.5%;
    height: fit-content;
}
ul{
    list-style: none;
}
.indent{
    text-indent: 25px;
}

/*MEMBERS*/
.memberlist{
    border: 5px solid gray;
    background-color: rgb(120, 120, 120, 0.5);
    width: 75%;
    height: fit-content;
    margin: 50px 12.5% 50px 12.5%;
    border-radius: 50px;
    padding: 50px 10px 30px 10px;
}
.membercard{
    width: 100%;
    height: fit-content;
    margin: 25px 0 25px 0;
    border-radius: 50px;
    padding: 50px 10px 30px 10px;
    transition-duration: 0.5s;
}
.membercard:hover{
    transform: scale(105%);
    transition-duration: 0.5s;
}
.membercard table{
    width: 100%;
}
.SpeciesImage{
    width: 150px;
}
.membername{
    font-size: 35px;
}
.memberusername{
    color: gray;
    font-size: large;
    text-align: right;
}
.memberdiscord{
    width: 25px;
}
.memberdescription{
    font-size: 17.5px;
}
.memberspecies{
    font-size: x-large;
}
.membertype{
    font-size: x-large;
}
.memberlinks{
    font-size: x-large;
}
.memberlinkicon{
    width: 50px;
}
.TypeImage{
    width: 40px;
}
.leaf{
    background: linear-gradient(90deg, rgb(154, 221, 86) 65%, rgb(100, 147, 200) 85%);
}
.leafname{
    background: linear-gradient(165deg, green 25%, lightblue 75%);
    background-size: 12.5% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ashby{
    background: radial-gradient(circle at -10% 50%, rgb(25, 25, 25) 10%, darkred 25%, rgb(25, 25, 25) 40%) ;
}
.ashbyname{
    background: radial-gradient(circle at -25% 50%, lightgray 10%, red 25%, lightgray 40%);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tornai{
    background: linear-gradient(315deg, #bdad00 15%, pink 25%, pink 45%, #bdad00 55%);
}
.tornainame{
    background: radial-gradient(circle at -10% 50%, yellow 0%, white 10%, yellow 20%);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.volta{
    background: linear-gradient(90deg, #bdad00 5%, rgb(220, 220, 220) 15%, #bdad00 25%, #bdad00 70%, rgb(220, 220, 220) 80%, #bdad00 90%);
}
.voltaname{
    background: radial-gradient(circle at 0% 50%, yellow 0%, white 10%, yellow 20%);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sam{
    background: linear-gradient(315deg, rgb(168, 67, 0) 0%, rgb(52, 152, 219) 10%, rgb(255, 88, 0) 20%, rgb(241, 196, 15) 30%, rgb(155, 89, 182) 40%, rgb(30, 30, 30) 50%, rgb(30, 204, 113) 60%, rgb(0, 243, 255) 70%, rgb(255, 0, 241) 80%, rgb(220, 220, 220) 90%, rgb(168, 67, 0) 100%);
}
.nick{
    background: radial-gradient(circle at -10% 50%, darkgreen 10%, #bdad00 20%, #bdad00 30%, darkgreen 40%) ;
}
.nickname{
    background: radial-gradient(circle at -15% 50%, green 10%, yellow 25%, green 40%);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skye{
    background: radial-gradient(circle, rgb(168, 67, 0) 30%, rgb(220, 220, 220) 40%, rgb(220, 220, 220) 55%, rgb(168, 67, 0) 65%);
}
.zero{
    background: linear-gradient(167.5deg, rgb(195, 240, 255) 40%, #bdad00 60%);
}
.spook{
    background: radial-gradient(circle, darkgray 30%, rgb(220, 220, 220) 40%, rgb(220, 220, 220) 55%, darkgray 65%);
}
.line{
    background-color: gray;
    border-radius: 50px;
    width: 100%;
}